<%- include('../components/head') %>
    <div class="container">
        <div class="title mt-3">
            <h1>Task: <%= task.name %>
            </h1>
        </div>
        <div class="status">
            <h3>สถานะ</h3>
            <select id="status" name="status" class="form-select" aria-label="Status">
                <option selected>
                    <%= task.status %> -- ปัจจุบัน
                </option>
                <option value="ยังไม่ได้รับงาน">ยังไม่ได้รับงาน</option>
                <option value="กำลังทำ">กำลังทำ</option>
                <option value="เสร็จแล้ว">เสร็จแล้ว</option>
            </select>
        </div>
        <div class="content mt-4">
            <h3>Description :</h3>
            <p>
                <%= task.content %>
            </p>
        </div>
    </div>

    <script>
        //if status select is changed run fetch update data
        document.getElementById('status').addEventListener('change', function () {
            if (document.getElementById('status').value) {
                fetch('/tasks/<%= task.id %>', {
                    method: 'put',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: '<%= task.name %>',
                        content: '<%= task.content %>',
                        status: document.getElementById('status').value
                    })
                }).then(res => {
                    if (res.ok) return res.json()
                }).then(data => {
                    console.log(data)
                    window.location.reload(true)
                })
            }
        })
    </script>